html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-size: 16px;
    background-color: #c7eeff;
}


header {

    padding: .3%;
    color: #c7eeff;
    text-align: center;
}

/* Change the heading size to 200%, give it a margin all around, and assign font family to serif */
h1 {
    margin: 2%;
    font-size: 120%;
    font-family: serif;
    text-align: center;
}

.flex-container {
    display: flex;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: pink; 
    border-radius: 10px;
    width: 300px; 
    height: 100px; 
    left: 50%;
    right: 50%;
    position: relative;
    margin-bottom:5%
}


/* Change header size to 180%, give it a 3% margin on top and bottom, and assign font family to serif */
h2 {
    margin: 3% 0;
    font-size: 180%;
    font-family: serif;
}

h3 {
    margin: 2%;
    font-size: 100%;
    font-family: serif;
    text-align: center;
}



 
.select-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    margin: 0 auto; /* Center horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.flex-container2 {
    display: flex;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: pink; 
    border-radius: 10px;
    width: 300px; 
    height: 200px; 
    left: 50%;
    right: 50%;
    position: absolute;
}

.MoodForDate{
    border-radius: 8px;
    border-image-width: 10px;
    size: 0

}
#map {
    height: 50%;
    width: 50;
  }
  footer {
    display: flex;
    justify-content: center;
    padding: .3%;
    background-color: #13293d;
    color: #fff;
    display: flex;
    flex-direction: column;
    
}

header {

    padding: .3%;
    background-color: #13293d;
    color: #fff;
    text-align: center;
}
